body {
  margin: 20px auto;
  text-align: center;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}



h1 {
  margin-top: 30px;
  color: rgb(25, 7, 98);
}

p {
  line-height: normal;
}

h2 {
   color: rgb(25, 7, 98);
}

img {
  width: 50px;
  margin: 0;
}


a {
text-decoration: none;
font-size: 20px;
}


h6 {
  font-size: 13px;
}

.col-2 {

  border-style: double;
  border-color: rgb(142, 191, 229);
  border-radius: 10px;
  margin: 20px auto;

}

.col-4 {
  font-size: 25px;
}

.search-form {
  margin-bottom: 20px;
}


#description {
  font-size: 20px;
}

#date {
  font-size: 20px;
}

.buttons {
  opacity: 0.7;
  padding: 10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align:center;
  margin-bottom: 30px;
}

.weather-forecast-date {
  font-size: 17px;
  color:rgb(25, 7, 98)
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

